
@charset "utf-8";
/* CSS Document */



/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 20px 0 115px #ffff00; 
    border-radius: 100px;   
    height:20px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #ff1a8c; 
    border-radius: 100px;
 width:50px;
}




